
/* Šādi var pievienot komentārus css valodā  */

*
{
	margin: 0px;
	padding: 0px;
	font-family: arials;
}

body 
{
	background: #cccccc;
	background-image: url("http://orig07.deviantart.net/992a/f/2012/320/f/6/stickerbomb_by_vicing-d5l6d3o.jpg");

}
#wrapper
{
	width: 976px;
	min-height: 600px;
	background: #fefefe;
	margin: 100px auto;
	border-radius:6px;  /* Pieliku šito klāt :D  */
}

.menu
{
	list-style:none;
	font-size: 0px;  /* Rekur atbilde tām baltajām starpām  */
}

.menu li
{
	display: inline-block;
	padding:0px;	
}

.menu li a
{
	text-decoration: none;
	color: #222;
	padding:13px; 
	display:block;
	font-size: 20px;
	font-weight: bold;
	
}

.menu li a:hover
{
	background:#333;
	color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 2px rgba(0,0,0,.5),1px 1px 5px rgba(0,0,0,.3);
}



.menu li.active a
{
	background: url(http://www.hobicell.com/thumbnail/bmw/bmw-stripes-wallpaper-images-stripes-wallpaper-hd-.jpg) no-repeat center left;
	background-size:  20px 15px;
	padding-left:25px;
}

.menu li.active a:hover
{
	background:url(http://www.hobicell.com/thumbnail/bmw/bmw-stripes-wallpaper-images-stripes-wallpaper-hd-.jpg) no-repeat center left;
	background-size:  20px 15px;
	color: #222;
	border-radius: none;
	box-shadow: none;
}



#car-menu
{
	background: url(../pictures/car.jpg);
	height: 550px;
	position: relative;
}

#car-menu .item
{
	position: absolute;
	
}
#car-menu .item a 
{
	display: block;
	height: 100%;
}

#car-menu .item-content
{
	height:100%;
	position:relative;
	
}

#car-menu .item .item-info
{
	display:none;
}

#car-menu .car-rims
{
	width:50px;
	height:80px;
	right:200px;
	bottom: 140px;
}

#car-menu .car-rims:hover .item-info
{
	position:absolute;
	top:70px;
	left:25px;
	padding-top:20px;
	padding-left:50px;
	display:block;
	font-weight:bold;
	color:#fff;
	
	
}

#car-menu .car-body
{
	
}







.opening-song
{

	text-align:center;
	font-size: 30px;
	font-weight: bold;	
}

.video
{
	text-align:center;	
	text-decoration: none
}

.nextpage li a
{
	text-decoration: none;
	text-align: center;
	list-style:none;
	color: black;

}


